@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}


<div>
	<center>
		<h1>Welcome to the Joel Hilton Film Collection!</h1>
		<img src="~/img/joelhiltonheadshot.jpg" height="500"/>
	</center>

</div>